header {
    background-color: rgb(203, 253, 224);
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    text-indent: 20px;
}

a:link { text-decoration: none;}
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

.column {
    box-sizing: border-box;
    float: left;
    width: 300px;
    padding: 15px;
    height: 300px;
}

.column1 {
    box-sizing: border-box;    float: left;
    width: 300px;
    padding: 15px;
    height: 300px;
}

.row1 {: after
    content:"";
    display: table;
    clear:both
}

footer {
    height: 40px;
    line-height: 40px;
    background: lightcyan;
    padding: 20px 20px;
    margin-top: 20px;
    color:rgb(31, 148, 64)
}

a {
    color:rgb(162, 86, 0)
}

table, th, td {
    border: 1px solid;
    width: 350px
    font-size: 20px;
}

th {
    font-weight:large
}

td {
    font-weight:lighter
}

.fooditems div:nth-child(odd) {
    color:blanchedalmond
}

.detailbox {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 6px;
}

.review {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:12pt
}
